PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/arduino_iot
JWT_SECRET=change_me_to_long_random_secret
GROK_API_KEY=your_grok_key
GROK_MODEL=grok-2-latest
AI_BASE_URL=
CLIENT_ORIGIN=*,http://localhost:5000,http://localhost:3000,https://your-frontend.vercel.app
CLOUDINARY_CLOUD_NAME=dqxgqobxj
CLOUDINARY_API_KEY=722988666493369
CLOUDINARY_API_SECRET=tK8vOdb6XRuRLXH57mM-8eI6URQ
